body.light {
    background-color: #f5f5f5;
    color: #111;
}

/* navbar */
body.light #nav-bar {
    background-color: #ffffff;
}

/* icônes SVG */
body.light svg line,
body.light svg circle {
    stroke: #111;
}

/* today span */
body.light #today-span {
    border: 2px solid #111;
    color: #111;
}

/* loader */
body.light .loader {
    border: 5px solid #ddd;
    border-top: 5px solid #111;
}

/* semaines */
body.light #bar-bottom-week,
body.light #bar-bottom-event {
    border: 1px solid #ccc;
}

body.light .not-today-div-week {
    border: solid rgba(0, 0, 0, 0.1) 2px;
}

body.light #today-div-week {
    border: solid #111 2px !important;
}

/* event list */
body.light .event-description {
    color: #555;
}

body.light #event-list {
    background-color: #fafafa;
}

/* event color */
body.light .event-color-div {
    background-color: rgb(0, 110, 200);
}

body.light .line {
    border: #ccc solid 1px;
}


/* buger menu */

body.light #burger-menu {
    color: black;
    background-color: #ffffff;
}

body.light #button-url-ics {
    background-color: #6382f4;
}

body.light #active-selected-menu-burger {
    background-color: #fafafa;
}

body.light #input-url-ics {
    background-color: #ddd;
}


body.light #matrix-border-line {
    border-top: solid #ccc 1px !important;
}

body.light .left-border-matrix-day {
    border-left: solid #ccc 1px !important;
}

body.light .column-day-event-case {
    border-right: solid #ccc 1px !important;
    border-bottom: solid #ccc 1px !important;
}

body.light .first-case.column-day-event-case-demi {
    border-bottom: dotted #ccc 2px !important;
}

body.light .first-column.column-day-event-case {
    border-left: solid #ccc 1px !important;
}